<?xml version="1.0"?>
<model>
  <name>Puerta Abierta</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Proyecto Robotica</name>
  </author>
  <description>
    Puerta industrial realista en estado ABIERTO (hoja girada 90 grados
    sobre la bisagra). Marco de acero, hoja con paneles, manilla y bisagras.
  </description>
</model>
